#  API base URL 
REACT_APP_API_BASE_URL=https://backend.dawahbox.com/api
REACT_APP_API_ADMINISTER_BASE_URL=https://backend.dawahbox.com/administer/api
REACT_APP_DEV_API_BASE_URL=https://dev-backend.dawahbox.com/api

# Links to app
REACT_APP_GOOGLE_PLAY_URL=
REACT_APP_APPLE_STORE_URL=

# Analytics
REACT_APP_CLARITY_PROJECT_ID=