.mobilelist_wrapper {
  width: 100%;
  height: 100%;
  padding: 2%;
  font-size: 14px;
  color: white;
  font-family: "Poppins";
  position: relative;

  .mobiletd {
    width: 100%;

    .lecture {
      margin-bottom: 3px;
    }
    .lecturer {
      color: #868686;
      font-size: 12px;
    }
  }
}
